body{
	margin: 0;
	background-color: white;
	font-family: chilanka;
	}
header{
	background-color: #d14653;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1 {
	color: white;
	font-family: piedra;
	font-size: 50px;
}

header img {
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}
h1, h2 { 
	font-family: piedra;
	color:red;
}